body {
    background-color: purple;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    clear: both;
    background-color: goldenrod;
    color: white;
    padding: 1px;
    text-align: center;
} 

nav {
    background-color: purple;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: red;
    background-color: gold;
}

section {
    width: 70%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    height: 550px;
    overflow-y: auto;
    text-align: center;
}


aside {
    width: 25%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    height: 500px;
    overflow-y: auto;
    text-align: center;
}

#table {
    position: relative;
    top: 25px;
    margin: 0px auto;
}

.asideparagraph {
   font-size: medium;
}

.absolute-note {
    position: absolute;
    top: 15px; 
    left: 10px; 
    background-color: purple;
    padding: 5px;
    border: 1px solid black;
}

